:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.body {
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var(--white-background);
}
.nav a {
  color: var(--dark)
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.link {
  text-decoration: none;
}

nav .logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand)
}
nav .logo-studio {
  color: var(--dark);
}

.list {
  list-style: none;
}

.nav-link {
color: var(--dark);

}

.nav-link:hover {
  color: var(--pressed-state);
}

.nav-link:focus {
  color: var(--pressed-state);
}

.address a {
  letter-spacing: 0.32px;
  font-style: normal;
}

.mail-tel {
  color: var(--text);

}

.mail-tel:hover {
  color: var(--pressed-state)
}

.mail-tel:focus {
  color: var(--pressed-state)
}

.button {
  color: var(--primary-brand);
  background-color: var(--light);
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.portfolio-headline {
    color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--dark)
}

.logo-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--light)
}

.footer-text {
  color: var(--light)
}